<div th:fragment="menu">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Car wash</div>
        <div class="list-group list-group-flush">
            <div class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="/admin" class="list-group-item list-group-item-action bg-light">Admin</a>
                <a href="/booking" class="list-group-item list-group-item-action bg-light">Booking</a>
                <a href="/vehicle-type" class="list-group-item list-group-item-action bg-light">Vehicle type</a>
                <a href="/contact-us" class="list-group-item list-group-item-action bg-light">Contact us</a>
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
</div>